<form class='pt-4 d-flex flex-column gap-3' name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>My Courses</h3>
        <a class="btn btn-primary" href="/me/trash/courses">
            <span class="px-1">
                <i class="fa-solid fa-trash"></i>
            </span> Trash bin ({{deletedCount}})
        </a>
    </div>

    <div class="d-flex gap-4 align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Select All
            </label>
        </div>

        <div>
            <select class="form-select form-select-sm form-select-option" name="action" required="required">
                <option value=""> -- Action --</option>
                <option value="delete">Delete</option>
            </select>
        </div>

        <button class="btn btn-primary btn-sm btn-apply" disabled="disabled">Apply</button>
    </div>

    <table class='table table-hover'>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>ID {{{sortable '_id' _sort}}}</th>
                <th scope='col'>Name {{{sortable 'name' _sort}}}</th>
                <th scope='col' style="width: 86px;">Level {{{sortable 'level' _sort}}}</th>
                <th scope='col'>Create At {{{sortable 'createdAt' _sort}}}</th>
                <th scope='col' colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope='row'>{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class='btn btn-warning btn-link'>Edit</a>
                </td>
                <td>
                    <a href="" class="btn btn-danger text-white btn-link" data-bs-id={{this._id}} data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal">Delete</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    You have not posted any courses yet...
                    <a href="/courses/create">Post here</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this course?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form']
        var containerForm = $('form[name="container-form"]')
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var dialogConfirm = document.getElementById('delete-course-modal')
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var btnApply = $('.btn-apply')


        // When dialog confirm clicked
        dialogConfirm.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.getAttribute('data-bs-id')
        })

        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit();
        }

        // When Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')

            courseItemCheckbox.prop('checked', isCheckedAll)
            renderApplyButton()
        })

        // Course item checkbox change
        courseItemCheckbox.change(function () {
            var allCheckbox = courseItemCheckbox.length
            var checkedCount = courseItemCheckbox.filter(':checked').length

            checkboxAll.prop('checked', checkedCount === allCheckbox)
            renderApplyButton()
        })

        // Check all submit changes
        btnApply.click = function (e) {
            e.preventDefault();

            var isSubmitable = !$(this).hasClass('disabled')

            if (isSubmitable) {
                containerForm.submit()
            }
        }

        // Re-render check all submit button
        function renderApplyButton() {
            var checkedItemCount = $('input[name="courseIds[]"]:checked').length

            if (checkedItemCount > 0) {
                btnApply.attr('disabled', false)
            } else {
                btnApply.attr('disabled', true)
            }
        }
    })
</script>