<div class='pt-4'>
    <a href="/me/stored/courses">Back to list courses</a>
    <h3>Trash bin</h3>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Level</th>
                <th scope='col'>Create At</th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class='btn btn-link btn-restore' data-id={{this._id}}>Restore</a>
                    <a href="" class="btn btn-link" data-bs-id={{this._id}} data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal">Force delete</a>

                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Empty trash bin.
                    <a href="/me/stored/courses">List courses</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to force delete this course?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action can not be rollback. Are you sure?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method='POST'></form>
<form name="restore-course-form" method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var btnRestore = $('.btn-restore')

        // When dialog confirm clicked
        var exampleModal = document.getElementById('delete-course-modal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.getAttribute('data-bs-id')
        })

        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
            deleteForm.submit();
        }

        // When restore course btn clicked
        btnRestore.click(function (e) {
            e.preventDefault();

            var courseId = $(this).data('id')
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit();
        })
    })
</script>